:root {
    --gray: #313131;
    --dark-gray: #111111;
    --darker-gray: #0a0a0a;
    --opacity-30: rgba(0, 0, 0, 0.3);
    --opacity-50: rgba(0, 0, 0, 0.5);
    --opacity-80: rgba(0, 0, 0, 0.8);
    --black: black;
    --white: white;
    --off-white: #cfcfcf;
    --messenger-background: var(--dark-gray);

    /* Hover colour */
    --hover-overlay: var(--opacity-50) !important;

    /* User text colour */
    --always-white: black !important;

    /* TEXT MESSAGES */
    /* Receiving text colour */
    --primary-text: var(--white) !important;
    /* Receiving text bubble colour */
    --wash: var(--gray) !important;
    /* Reply bubble background */
    --messenger-reply-background: var(--darker-gray) !important;

    /* Could do something interesting here - this is a splash on refresh */
    /* --web-wash: black !important; */

    /* MAIN */
    /* Main chat background colour */
    --messenger-card-background: var(--dark-gray) !important;
    /* Search box background colour */
    --card-background: var(--dark-gray) !important;
    /* Chat bubbles background colour */
    --surface-background: var(--dark-gray) !important;

    /* BUTTONS */
    /* Secondary buttons in top-left panel */
    --secondary-button-background: var(--gray) !important;
    /* Icon that appears when you hover a person's chat */
    --popover-background: var(--opacity-80) !important;

    /* MISC */
    /* Used as a background "blur" for when overlay menus are opened */
    --overlay-alpha-80: var(--opacity-80) !important;
    /* Divider used for things like the reply feature */
    --divider: var(--gray) !important;
}

/* SVG Path White Colouring */
.o8rfisnq.j83agx80.cbu4d94t.tvfksri0.aov4n071.bi6gxh9e.l9j0dhe7 > svg > path    /* Search Magnifying Glass */
{
    fill: white !important;
}

/* Temporary "New Messenger App Advert" */
.oo9gr5id {
    color: var(--off-white) !important;
}
.q2y6ezfg {
    background-color: var(--darker-gray) !important;
}

/* Main background colour */
._4sp8 {
    background-color: var(--messenger-background) !important;
}

/* Bolded texts */
._17w2 {
    color: var(--white) !important;
}

/* Popup Menus */
.nwpbqux9 {
    background-color: var(--darker-gray) !important;
    fill: var(--white) !important;
}

/* Secondary buttons (top-left) */
.ms05siws {
    fill: var(--white) !important;
}

/* Change icon colour for reply "X", New Messenger Desktop App Ad */
.sp_VDJapGs-NaF
{
    background-image: url(https://i.imgur.com/6bFMtnx.png) !important;
}

/* Video playback control buttons
.hu5pjgll.eb18blue.sp_VDJapGs-NaF.sx_df832b
{
    background-image: url(https://i.imgur.com/AD741Q4.png) !important;
} */

/* Muted conversations bell icon */
.a8c37x1j {
    fill: var(--white) !important;
}






/* OLD MESSENGER.COM SUPPORT */

/* Main Background, Active contacts button background (._6ckg), Active typing dialogue box (._17pz), Stickers Background Menu (._293j, ._5r8a._5r8b), Record Audio Background (._3z51)*/
.uiScrollableAreaBody, ._4sp8, ._6ckg, ._17pz, ._293j, ._5r8a._5r8b, ._3z51 {
    background-color: #212121 !important;
}

/* Selected Message */
._1ht2 {
    background-color: #141414 !important;
}

/* Divider Borders */
.uiScrollableAreaBody {
    border-right: 1px solid black !important;
}

/* Message Chat Bubble (Receiving) */
._29_7 ._52mr {
    background-color: #373737 !important;
    color: #f9f9f9 !important;
}
/* User chat bubble (Outgoing) [DISABLED] - nullifies facebook custom colours*/
/*._nd_ ._hh7 {*/
    /*background-color: #0084ff !important;*/
/*}*/
/* Remove background on standalone emojis */
._hh7._6ybn._2f5r {
    background-color: rgba(255, 255, 255, 0) !important;
}

/* Received link bubble background */
.__6j._43kk {
    background-color: #373737 !important;
    border-bottom: 6px solid #373737 !important;
    border-left: 10px solid #373737 !important;
    border-right: 10px solid #373737 !important;
    border-top: 6px solid #373737 !important;
}

/* User message font colour */
._hh7 {
    color: black !important;
}
/* User message info text colour (e.g. "_____ missed your call" */
._nd_ {
    color: #c4c4c4 !important;
}

/* Event message (e.g. "______ called you" */
._5i_d {
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
    background: rgba(0, 0, 0, 0.20) !important;
}

/* Middle Header Title, Left Header Title (Messenger Title), Refresh Page amid search text (h2), New friend text (._36zg, ._1n-e), Nametags (._ih3), Poll Creation Title (._5jn1)*/
._17w2, ._36ic, ._1tqi, h2, ._36zg, ._1n-e, ._ih3, ._5jn1 {
    color: rgb(176, 176, 176) !important;
}

/* Left Sidebar Search Titles */
._225b, ._4g0h {
    color: rgba(255, 255, 255, 0.6) !important;
}

/* Right Sidebar Title */
._2jnv, ._2jnx, ._2jnz, ._2jnx, ._30e7, ._5j5f {
    color: rgb(238, 238, 238) !important;
}

/* Right Sidebar Menu Titles, Last Active Text Right Sidebar (._3eus, ._5uh), Last Active Text Top Bar */
._1lj0, ._3eus, ._5uh, ._2v6o {
    color: rgba(255, 255, 255, 0.4) !important;
}
/*Right Sidebar Menu Text (._3szq)*/
._3szq {
    color: rgb(216, 216, 216) !important;
}

/* Message Left Sidebar Titles and Text */
._1ht6 {
    color: #8f8f8f !important;
}

/* Message Left Sidebar Unread Title */
._1ht3 ._1ht6 {
    color: #f4f4f4 !important;
}

/* Message Left Sidebar Unread Text Preview */
._1ht3 ._1htf {
    color: #bababa !important;
}

/* Right Sidebar Participant Names, Active Contacts Text (._6cke, ._6ckf) */
._364g, ._3q34, ._3q35, ._4rph ._4rpj, ._6cke, ._6ckf {
    color: #dadada !important;
}

/* Permissions Tag per participant user (_5qsj), Message History Timestamps (_1ht7), Search Bar Input */
._5qsj, ._1ht7, ::placeholder, input {
    color: #8c8c8c !important;
}

/* Chat update messages (e.g. changing nicknames) */
._497p {
    color: rgba(255, 255, 255, 0.4) !important;
}

/* Embed link background */
._3xn3, ._3xn7 {
    border-radius: 10px !important;
}
/* Link Embed Border */
._o46._3i_m ._3058._15gf ._2poz, ._29_7:first-of-type ._3058:first-of-type ._52mr {
    border-color: white !important;
}
/* Link Embed Text (._5i_d .__6m for in message embed), (._324d .__6l for input preview) */
._5i_d .__6m, ._324d .__6l {
    color: rgba(255, 255, 255, 0.4) !important;
}

/* Embed link preview when typed in */
._4_j4 .chatAttachmentShelf, ._324d .__6k  {
    border-top: 0px solid white !important;
    background-color: var(--input-background) !important;
    color: #e1e1e1 !important;
}

/* Received Link Text Colour */
._hh7 a {
    color: rgb(181, 181, 181) !important;
}
/* Sent link text colour */
._nd_ ._hh7 a {
    color: rgb(58, 58, 58) !important;
}

    /* Bottom chat bar background (._4rv3), Search bar background (._5iwm ._58al), Top bar background (._673w), Sticker Search Menu (._2pgc), GIF Background around search bar (._1er4), Poll Creation background (._5jmp, ._5jn3) */
._4rv3, ._58al, ._673w, ._2pgc, ._1er4, ._5jmp, ._5jn3, ._9fw {
    background: var(--input-background) !important;
}

/* Removing sticker menu separators */
._5r8e, ._5r86, ._37wv {
    border-bottom: 0px solid black !important;
    border-left: 0px solid black !important;
}
._eb3:before {
    background-color: rgba(1, 1, 1, 0) !important;
}

/* Removed duplicate magnifying glass icon */
.sp_DRWiQpFHw7f {
    background-image: url(#) !important;
}

/* Search results navbar */
._33p7 {
    background-color: rgba(51, 51, 51, 0.9) !important;
    color: #c5c5c5 !important;
}

/* Search nav arrows have button outlines */
._30yy:focus:not(:active) {
    outline: none !important;
}

/* Search popup (if page refreshed in middle of search; ._4eby), Popup Text Menus (._19jt) */
._4eby, ._19jt, ._4ng2  {
    background: #2b2b2b !important;
    border-radius: 0 !important;
    color: #c5c5c5 !important;
}

/* Popup Text Menus with Opacity (._374c), Active Status Description (._6cs7), Mute Conversation options menu (._51l0 .uiInputLabel .__rm+.uiInputLabelLabel) */
._374c, ._6cs7, ._51l0 .uiInputLabel .__rm+.uiInputLabelLabel {
    color: rgba(255, 255, 255, 0.4) !important;
}

/* Chat Bar Input (._5rp8 ._1mf) */
._5rp8, ._1mf {
    color: #d8d8d8 !important;
}

/* Sticker Menu Icon & Game Icon - Inverted Icon, React option to messages (.sp_DRWiQpFHw7f), Magnifying glass in search (.sp_sbxFxdCZjuj) */
._4rv6, a._4ce_, .sp_DRWiQpFHw7f {
    background-image: url("https://i.imgur.com/XA3EVhg.png") !important;
    opacity: 0.55 !important;
}

:root {
    --popup-colour: rgba(14, 14, 14, 0.92);
    --input-background: #161616;
}

/* Timestamp popup */
.tooltipContent {
    background-color: var(--popup-colour) !important;
    color: #d6d6d6 !important;
}
/* Timestamp popup arrow (should ideally be same colour as popup above) */
.uiContextualLayerLeft>.uiTooltipX i.arrow, .uiContextualLayerRight>.uiTooltipX i.arrow{
    border-right-color: var(--popup-colour) !important;
    border-left-color: var(--popup-colour) !important;
}
.uiContextualLayerAboveCenter>.uiTooltipX i.arrow, .uiContextualLayer,.uiContextualLayerAboveLeft{
    border-top-color: var(--popup-colour) !important;
}

/* Mentions popup box */
._13iv, ._1k1p {
    background-color: #0b0b0b !important;
}
/* Mentions popup box on hover */
._1k1p:hover {
    background-color: #292929 !important;
}
/* Outgoing mentions colouring */
._o46._3i_m ._ih- {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: #3c3c3c !important;
}

/* Group chat seen counter (e.g. +4) */
._jf4 ._jf3 {
    color: rgba(255, 255, 255, 0.4) !important;
}

/* Image preview border around current image thumbnail */
/*._42rl {*/
    /*border: 1px solid #ffffff !important;*/
/*}*/
/* Borders for all other image should be invisible except current */
/*._42rl ._q1a {*/
    /*border: 0px solid black !important;*/
/*}*/

/* Poll Word (i.e. "Poll) (._3bfu), Poll Title (._1mr_ ) */
._3b4u, ._1mr_  {
    color: rgba(255, 255, 255, 0.75) !important;
}
/* Poll options text */
._1mq- {
    color: rgba(255, 255, 255, 0.75) !important;
}
/* Poll options background */
._1mq_, ._1mqz, ._1imq- {
    background: var(--input-background) !important;
}
._1r_9, ._53ik, ._53io {
    background-image: url('#') !important;
}

/* Poll selection circles */
._2m5p {
    border: 2px solid rgba(255, 255, 255, 0.2) !important;
}

/* Image Preview Transparent Background */
._4-of {
    background-color: rgba(1, 1, 1, 0) !important;
}
/* Removal of default random white border on image preview */
._4-oi {
    border: white 0px solid !important;
}
/* Translucent image preview bottom bar */
._463g, ._2n5b{
    background-color: rgba(1, 1, 1, 0.7) !important;
}
/* Removal of unnecessary duplicate translucent image preview bottom bars */
._463h, ._463j {
    background-color: rgba(1, 1, 1, 0) !important;
}

/* Shared photos right sidebar border modifications */
._3m31:nth-of-type(3n+1), ._3m31:nth-of-type(3n+2), ._3m31:nth-of-type(3n+3) {
    border-left: 0px solid #212121 !important;
    border-right: 2px solid #212121 !important;
}

/*Replies Feature - Reply Title*/
._4k7a {
    color: rgba(255, 255, 255, 0.5) !important;
}
/* Reply Text (._4ik4) */
._4ik4 {
    color: #ececec !important;
}
/* Reply bubble border */
._3erg ._4k7c, ._nd_ ._3058._s1-._4k7c {
    border-color: rgba(255, 255, 255, 0.35) !important;
}
/* Reply input title */
._67tu {
    color: rgba(91, 133, 255, 0.7) !important;
}
._67tw {
    color: rgba(255, 255, 255, 0.7) !important;
}

/* Games Menu */
._3rh0, ._4lh9 {
    background-color: #212121 !important;
    color: white !important;
    border-color: black !important;
    border-radius: 0px !important;
}
._4lh7, ._3z53 {
    color: rgba(255, 255, 255, 0.6) !important;
}

/* Removed background on Like emoticon in group chat emoji menu */
._1uwz {
    background: none !important;
}

/* Horizontal line at end of shared photos */
._4dfu {
    background-image: linear-gradient(to right, white, rgba(255, 255, 255, 1), white) !important;
}

/* Muted/notifications subtext for right sidebar */
._3x6v {
    color: rgba(255, 255, 255, 0.4) !important;
}

/* NEW MESSENGER */

/* Chats title */
._6-xo {
    color: rgb(255, 255, 255) !important;
}

/* Bottom chat bar */
._5irm._7mkm {
    background-color: rgb(22, 22, 22) !important;
}

/* Name of person talking to */
._3eur._6ybk a {
    color: #d8d8d8 !important;
}

/* "Something's wrong" warning text */
._7ht_ {
    color: rgba(255, 255, 255, 0.4) !important;
}

#caution-triangle > #Group > #Fill-23,
#minus-circle > #Fill-19,
#message-cross > #Page-1 > #Fill-1,
#bell > #Fill-24,
#pencil-underline > #Group > #Fill-1,
#magnifying-glass > #Search > #Fill-1,
#settings > #Settings > #Fill-1,
#compose > #Fill-2 {
    fill: #bdbdbd !important;
}

#share > #Fill-8,
#reply > #Fill-19,
#dots-3-horizontal > #Page-1 > #Fill-1,
._2u_d._7i2j :nth-child(2) {
    fill: #bdbdbd !important;
}

/* Hover over react/reply/etc. */
._3-wv._7i2n:hover,
._2rvp._7i2l:hover,
._5zvq._7i2o:hover{
    background-color: rgba(0, 0, 0, 0.5) !important
}

/* Forward a message "To:" */
._2y8z {
    color: rgba(255, 255, 255, 0.4) !important;
}

/* Nickname editor border */
._30e7 ._5j5f {
    border: 2px solid rgba(255, 255, 255, 0.35) !important;
}

/* Shared pictures right sidebar loading background removal (._7jxv), thumbs up white background removal (#js_6) */
._7jxv {
    background: rgba(0, 0, 0, 0) !important;
}

/* Thumbs up emoji background to match gray background (._2poz > svg > rect), animated version (as it enlarges) (._4a9g _576q > svg > rect) */
._2poz > svg > rect,
._4a9g > svg > rect{
    fill: #212121 !important;
}

/* Composing new message To: ____ field (.__6g ._14-7 ._58ah ._58al) and rest of surrounding bar (._2y8y._6zw0) */
.__6g ._14-7 ._58ah ._58al, ._2y8y._6zw0  {
    background-color: #161616 !important;
}

/* Sidebar hover shading */
._1liy ._1lj0:hover {
    background-color: rgba(0, 0, 0, .25) !important
}

/* Spacing for shared photos top margin */
._40jj {
    margin-top: 9px !important;
}

/* React emoji background */
._53ij {
    background: #353535 !important;
}

/* Settings menu links text */
._6ct7._6y57, ._6ct8._6y58 {
    color: #c3c3c3 !important;
}

/* Type a message... tooltip text */
._kmc._7kpg ._1p1t {
    color: rgba(255, 255, 255, 0.5) !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important;
}

/* Replies background */
._3egs {
    background: #212121 !important;
}

/* Event Notification (top bar event reminder) */
._3nta {
    background-color: #353535 !important;
}
._2mjl {
    color: rgba(255, 255, 255, 0.4) !important;
}
._2613 {
    color: white !important;
}

/* Event Notification (in message body) */
._3wb0, ._3wa- {
    color: rgb(255, 255, 255) !important;
}

/* Message request information */
._74ku {
    color: rgba(255, 255, 255, 0.5) !important;
}

/* Sidebar group chat user names */
._8slc {
    color: rgb(255, 255, 255) !important;
}